.root {
  position: relative;
  width: 1920px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  overflow-y: auto;
}
.sVG {
  width: 1921.3px;
  height: 230px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.background {
  position: relative;
  width: 1920px;
  height: min-content;
  flex-direction: column;
  background-color: #fff;
}
.container {
  height: min-content;
  align-self: stretch;
}
.container2 {
  flex: 1;
  align-self: stretch;
  flex-direction: column;
}
.mainArticle {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.background2 {
  position: relative;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 0 360px 0 320px;
  background-color: #fefdfd;
}
.container3 {
  position: absolute;
  left: 0;
  top: -1px;
  width: 1920px;
  height: 230px;
  flex-direction: column;
  overflow: hidden;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.container4 {
  position: relative;
  width: 1200px;
  height: min-content;
  flex-direction: column;
  padding: 170px 40px 80px 0;
}
.container5 {
  position: relative;
  height: 520px;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.container6 {
  position: absolute;
  left: 0;
  right: 600px;
  top: calc(50% - -7.49px);
  height: min-content;
  flex-direction: column;
  padding: 0 0 0 80px;
  transform: translateY(-50%);
}
.container7 {
  position: relative;
  height: 424.58px;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.heading1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.weBreathLifeIntoPixels {
  color: #76b5c7;
  font-size: 50px;
  line-height: 70px;
  font-weight: bold;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.heading2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 90px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.markFullCyclesfdf {
  color: #76b5c7;
  font-size: 35px;
  line-height: 49px;
  font-weight: bold;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.35px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.container8 {
  position: absolute;
  left: 0;
  right: 0;
  top: 149px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.basedInTunisiaCynithiaStudioIs {
  width: min-content;
  height: min-content;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock {
  color: #595959;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #595959;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #595959;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.container9 {
  position: absolute;
  left: 0;
  right: 0;
  top: 375.78px;
  height: min-content;
  flex-wrap: wrap;
}
.link {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  padding: 10px 30px;
  border-radius: 8px;
  background-color: #76b5c7;
}
.ourGames {
  color: #595959;
  font-size: 18px;
  line-height: 28.8px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.container10 {
  position: absolute;
  left: 600px;
  right: 0;
  top: 50%;
  height: min-content;
  flex-direction: column;
  padding: 0 0 0 80px;
  transform: translateY(-50%);
}
.figure {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.vRHero {
  width: 456px;
  height: 456px;
  background-image:/* webpackIgnore: true */ url('/assets/vRHero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.background3 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 0 360px;
}
.container11 {
  width: 1200px;
  height: min-content;
  flex-direction: column;
  padding: 0 40px;
}
.container12 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
}
.container13 {
  width: 1120px;
  height: min-content;
  flex-direction: column;
  align-items: flex-end;
  gap: 60px;
  padding: 80px 0 90px;
}
.heading22 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.container14 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 0 542.5px;
}
.sVG2 {
  width: 35px;
  height: 35px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.container15 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 0 476.61px 0 476.59px;
}
.aboutUs {
  color: #76b5c7;
  font-size: 35px;
  line-height: 49px;
  font-weight: bold;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.35px;
  text-transform: capitalize;
  width: 292px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.container16 {
  width: 1120px;
  height: min-content;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.container17 {
  height: min-content;
  flex: 1;
  flex-direction: column;
  padding: 0 0 0 65px;
}
.figure2 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.teamOfPeopleDiscussesTheIdea {
  width: 547px;
  height: 456px;
  background-image:/* webpackIgnore: true */ url('/assets/teamOfPeopleDiscussesTheIdea.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.container18 {
  height: min-content;
  flex: 1;
  flex-direction: column;
  padding: 0 0 0 65px;
}
.container19 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 27px;
}
.container20 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.weAreAnIndependentTunisianVide {
  color: #000;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.container21 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.theStudioCurrentlyDevelopsForN {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.textBlock4 {
  color: #000;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  margin-top: 0;
  color: #000;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.container22 {
  height: min-content;
  align-self: stretch;
  flex-wrap: wrap;
}
.link2 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  padding: 10px 25px;
  border-radius: 8px;
  background-color: #76b5c7;
}
.contactUs {
  color: #000;
  font-size: 18px;
  line-height: 28.8px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.container23 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
}
.container24 {
  width: 1120px;
  height: min-content;
  flex-direction: column;
  align-items: flex-end;
  gap: 80px;
  padding: 80px 0 100px;
}
.heading23 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.container25 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 0 542.5px;
}
.sVG3 {
  width: 35px;
  height: 35px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.container26 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 0 453.42px 0 453.41px;
}
.whatWeDo {
  color: #76b5c7;
  font-size: 35px;
  line-height: 49px;
  font-weight: bold;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.35px;
  text-transform: capitalize;
  width: 370px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.container27 {
  width: 1160px;
  height: min-content;
  flex-wrap: wrap;
  justify-content: center;
}
.container28 {
  width: 348px;
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 0 40px;
}
.container29 {
  flex: 1;
  align-self: stretch;
  flex-direction: column;
}
.container30 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.heading4 {
  height: min-content;
  align-self: stretch;
  align-items: center;
  padding: 0 0px 0 114.56px;
}
.container31 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.gameDesign {
  color: #76b5c7;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: bold;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.24px;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.container32 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  padding: 0 0 0 12px;
}
.img {
  width: 19.19px;
  height: 19.19px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.container33 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.weAreAbleToDesignDocumentation {
  height: min-content;
  align-self: stretch;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.textBlock6 {
  color: #040404;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock7 {
  margin-top: 0;
  color: #040404;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock8 {
  margin-top: 0;
  color: #040404;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.heading42 {
  height: min-content;
  align-self: stretch;
  flex-direction: row-reverse;
  align-items: center;
  padding: 27px 0px 0 38.56px;
}
.container34 {
  width: min-content;
  height: min-content;
  z-index: 0;
  flex-direction: column;
  padding: 0 0 0 12px;
  margin: 0px 0px 0px -5.684341886080802e-14px;
}
.img2 {
  width: 19.19px;
  height: 19.19px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.container35 {
  width: min-content;
  height: min-content;
  z-index: 0;
  flex-direction: column;
}
.gameDevelopment {
  color: #76b5c7;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: bold;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.24px;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.container36 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.fullCycleGameDevelopmentWeDeli {
  height: min-content;
  align-self: stretch;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.textBlock9 {
  color: #040404;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock10 {
  margin-top: 0;
  color: #040404;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock11 {
  margin-top: 0;
  color: #040404;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.heading43 {
  height: min-content;
  align-self: stretch;
  flex-direction: row-reverse;
  align-items: center;
  padding: 27px 0px 0 100.81px;
}
.container37 {
  width: min-content;
  height: min-content;
  z-index: 0;
  flex-direction: column;
  padding: 0 0 0 12px;
  margin: 0px 0px 0px -5.684341886080802e-14px;
}
.img3 {
  width: 19.19px;
  height: 19.19px;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.container38 {
  width: min-content;
  height: min-content;
  z-index: 0;
  flex-direction: column;
}
.multiPlatform {
  color: #76b5c7;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: bold;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.24px;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.container39 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.ourTeamSDiverseSkillsetAllowsU {
  height: min-content;
  align-self: stretch;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.textBlock12 {
  color: #040404;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock13 {
  margin-top: 0;
  color: #040404;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock14 {
  margin-top: 0;
  color: #040404;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.container40 {
  width: 464px;
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 0 40px;
}
.container41 {
  flex: 1;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  padding: 26.78px 0;
}
.container42 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.figure3 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
}
.gamesAndVR {
  width: 410px;
  height: 456px;
  background-image:/* webpackIgnore: true */ url('/assets/gamesAndVR.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.container43 {
  width: 348px;
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 0 40px;
}
.container44 {
  flex: 1;
  align-self: stretch;
  flex-direction: column;
}
.container45 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.heading44 {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 0px;
}
.container46 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  padding: 0 12px 0 0;
}
.img4 {
  width: 19.19px;
  height: 19.19px;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.container47 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.consultations {
  color: #76b5c7;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: bold;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.24px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.container48 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.theTeamIsHappyToHelpWithConsul {
  width: min-content;
  height: min-content;
  align-self: stretch;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock15 {
  color: #0a0909;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock16 {
  margin-top: 0;
  color: #0a0909;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock17 {
  margin-top: 0;
  color: #0a0909;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.heading45 {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 0px;
  padding: 27px 0 0;
}
.container49 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  padding: 0 12px 0 0;
}
.img5 {
  width: 19.19px;
  height: 19.19px;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.container50 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.onlineMultiplayer {
  color: #76b5c7;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: bold;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.24px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.container51 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.ourStudioFocusesHeavilyOnMulti {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.textBlock18 {
  color: #0a0909;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock19 {
  margin-top: 0;
  color: #0a0909;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock20 {
  margin-top: 0;
  color: #0a0909;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.heading46 {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 0px;
  padding: 27px 0 0;
}
.container52 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  padding: 0 12px 0 0;
}
.img6 {
  width: 19.19px;
  height: 19.19px;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.container53 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.gamePorting {
  color: #76b5c7;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: bold;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.24px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.container54 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.weAreAbleToPortGamesToOtherPla {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.textBlock21 {
  color: #0a0909;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock22 {
  margin-top: 0;
  color: #0a0909;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock23 {
  margin-top: 0;
  color: #0a0909;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.container55 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
}
.container56 {
  width: 1120px;
  height: min-content;
  flex-direction: column;
  align-items: flex-end;
  gap: 60px;
  padding: 80px 0 90px;
}
.heading24 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.container57 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 0 542.5px;
}
.sVG4 {
  width: 35px;
  height: 35px;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.container58 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 0 404.69px 0 404.67px;
}
.markOur {
  color: #76b5c7;
  font-size: 35px;
  line-height: 49px;
  font-weight: bold;
  font-family: Comfortaa, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.35px;
  text-transform: capitalize;
  width: 426px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.container59 {
  width: 1120px;
  height: min-content;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.container60 {
  height: min-content;
  flex: 1;
  flex-direction: column;
  padding: 50px 0 0 40px;
}
.container61 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 27px;
  padding: 0 0 27px;
}
.container62 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.atCynithiaStudioOurExpertiseLi {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.textBlock24 {
  color: #000;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock25 {
  margin-top: 0;
  color: #000;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock26 {
  margin-top: 0;
  color: #000;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock27 {
  margin-top: 0;
  color: #000;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.container63 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.ourProcessIsRootedInOpenCommun {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.textBlock28 {
  color: #000;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock29 {
  margin-top: 0;
  color: #000;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock30 {
  margin-top: 0;
  color: #000;
  font-size: 18px;
  line-height: 28.8px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.container64 {
  height: min-content;
  flex: 1;
  flex-direction: column;
  padding: 0 0 0 40px;
}
.figure4 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.boardGame {
  width: 756px;
  height: 456px;
  background-image:/* webpackIgnore: true */ url('/assets/boardGame.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footerSite {
  position: relative;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 0 360px;
  background-color: #f2e8e8;
}
.container65 {
  width: 1200px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  padding: 30px 503.17px 20px;
}
.container66 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
._2024CynithiaStudio {
  color: #595959;
  font-size: 15px;
  line-height: 24px;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.container67 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: min-content;
  flex-direction: column;
}
.headerSite {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 0 360px;
}
.container68 {
  width: 1200px;
  height: min-content;
  align-items: center;
  gap: 0.004px;
  padding: 20px 40px;
}
.container69 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.link3 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
}
.croppedCroppedFilled_TextLongL {
  position: relative;
  width: 340px;
  height: 42.13px;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('/assets/croppedCroppedFilled_TextLongL.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.navPrimaryMargin {
  height: min-content;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 0 262.156px;
}
.navPrimary {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.container70 {
  width: 517.84px;
  height: min-content;
  align-self: flex-start;
  flex-wrap: wrap;
}
.container71 {
  width: 542px;
  height: min-content;
  flex-direction: column;
}
.list {
  height: min-content;
  align-self: stretch;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.item {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.link4 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
}
.home {
  color: #76b5c7;
  font-size: 17px;
  line-height: 60px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.item2 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.link5 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
}
.portfolio {
  color: #595959;
  font-size: 17px;
  line-height: 60px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.item3 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.link6 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
}
.services {
  color: #595959;
  font-size: 17px;
  line-height: 60px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.item4 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.link7 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
}
.aboutUs2 {
  color: #595959;
  font-size: 17px;
  line-height: 60px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.item5 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.link8 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
}
.contact {
  color: #595959;
  font-size: 17px;
  line-height: 60px;
  font-weight: bold;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.linkScrollBackToTop {
  position: absolute;
  left: 1850.8496px;
  bottom: 17.1404px;
  width: 40px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  padding: 6px 10px 11.5px;
  border-radius: 3px;
  background-color: #0006;
  overflow: auto;
}
.container72 {
  width: min-content;
  height: min-content;
  padding: 2.5px 0 0;
}
.sVG5 {
  width: 20px;
  height: 20px;
  overflow: visible;
}
.icon11 {
  width: 100%;
  height: 100%;
}
